th.selected {
    background-color: #c1fffc;
}

th {
    cursor: pointer;
}

.buttons {
    display: flex;
}

.buttons button {
    margin-right: 5px;
}

.grid-component {
    width: 300px;
    height: 300px;
    padding: 20px;
}

.validated-input .error-msg {
    font-size: 12px;
    font-weight: normal;
    color: red;
}